* {
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
}

/* MENU */
.main {
    width: 100%;
    height: 100vh;
    background-image: url("../img/laptop.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
.menu {
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0;
    position: fixed;
    width: 100%;
    margin-top: 2vh;
}

.logo{
    height: 20vh;
    width: 25vh;
    padding-bottom: 2vh;
}
.logo:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
a {
    text-decoration: none;
}
.exp {
    color: #3db3e2;
    margin-right: 5vh;
    font-size: 5vh;
    border-bottom: 2px #ff66c4 solid;
    border-top: 2px #ff66c4 solid;
}
.exp:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    color:  #ff66c4;
    border-bottom: 2px #3db3e2 solid;
    border-top: 2px #3db3e2 solid;
}

/*DESCRIPCION*/
.descripcion {
    height: 85vh;
    width: 100%;
    color: yellow;
    text-align: end;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.inf {
    margin-right: 20vh;
}
#A {
    color: #ff66c4;
    font-size: 7vh;
    line-height: 15px;
}
#B {
    color: #3db3e2;
    font-size: 7vh;
}
#C {
    color: white;
    line-height: 40px;
    letter-spacing: 3px;
    font-family: "Arial";
    margin-bottom: 5vh;
}
/*FOOTER*/
footer {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 2px white solid;
}
.logo-follow {
    height: 14vh;
    width: 20vh;
}
.github {
    height: 7vh;
    width: 7vh;
}
.github:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.linkedin {
    height: 5vh;
    width: 5vh;
}
.linkedin:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.factoria {
    font-size: 4vh;
    color: #5ce1e6;
    padding: 2vh;
}
.factoria:hover {
    background-color: rgba(241, 37, 170, 0.2);
    border-radius: 2vh;
    color: #ffff;
}
.contacto {
    font-size: 4vh;
    color: #5ce1e6;
    padding: 2vh;
}
.contacto:hover {
    background-color: rgba(241, 37, 170, 0.2);
    border-radius: 2vh;
    color: #ffff;
}
.redes {
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;



}